<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WOOSHYA! FOR COMPANY USER</title>
    {{template "bootHeader" . }}
    <style>
        .btn-secondary {
            background-color: #000000;
            background-color: rgba(0, 0, 0, 0);
            border-color: rgba(0, 0, 0, 0);
        }
    </style>
    <script>
        function cpyLogin() {
            location.href = "/companyLogin"
        }

        function cpySignUp() {
            location.href = "/companySignup"
        }
    </script>
</head>

<body>

{{template "hnavbar" . }}
<!--nav class="navbar bg-dark navbar-dark text-white">

    <a class="navbar-brand" href="/">HEYSHYA!</a>

    <div class="pull-right">
        <button onclick="coLogin()" id="coLoginbtn" class="btn btn-secondary">LOGIN</button>
        <button onclick="coSignUp()" id="cpSignupbtn" class="btn btn-secondary">SIGN UP</button>

    </div>
</nav-->
</body>

</html>