<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WOOSHYA! FOR COMPANY USER</title>
    {{template "bootHeader" . }}

</head>

<body>
<nav class="navbar bg-dark navbar-dark text-white">

    <a class="navbar-brand" href="/companyIndex">WOOSHYA! For Company User</a>

    <div class="pull-right">
        <button onclick="coLogin()" id="coLoginbtn" class="btn btn-secondary">LOGIN</button>
        <button onclick="coSignUp()" id="cpSignupbtn" class="btn btn-secondary">SIGN UP</button>
        <button onclick="stdHomePage()" id="stdHPbtn" class="btn btn-secondary">Student User</button>
    </div>
</nav>
<script>
    function coLogin() {
        location.href = "/companyLogin"
    }

    function coSignUp() {
        location.href = "/companySignup"
    }

    function stdHomePage() {
        location.href = "/"
    }
</script>
<h1 style="text-align:center">Welcome to WOOSHA! for company!</h1>
</body>

</html>