<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WOOSHYA! FOR COMPANY USER</title>
    {{template "bootHeader" . }}
    <script>
        function coLogin() {
            location.href = "/companyLogin"
        }

        function coSignUp() {
            location.href = "/companySignup"
        }
    </script>
</head>

<body>
<nav class="navbar bg-dark navbar-dark text-white">

    <a class="navbar-brand" href="/">HEYSHYA!</a>

    <div class="pull-right">
        <button onclick="coLogin()" id="coLoginbtn" class="btn btn-secondary">LOGIN</button>
        <button onclick="coSignUp()" id="cpSignupbtn" class="btn btn-secondary">SIGN UP</button>

    </div>
</nav>
</body>

</html>