<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/views/static/cpyIndex.css">
    {{template "bootHeader" . }}
    <!--style>
        .btn-secondary {
            background-color: #000000;
            background-color: rgba(0, 0, 0, 0);
            border-color: rgba(0, 0, 0, 0);
        }
    </style-->
</head>

<body>

{{template "hnavbar" . }}
<!--nav class="navbar bg-dark navbar-dark text-white">

    <a class="navbar-brand" href="/">HEYSHYA!</a>

    <div class="pull-right">
        <button onclick="coLogin()" id="coLoginbtn" class="btn btn-secondary">LOGIN</button>
        <button onclick="coSignUp()" id="cpSignupbtn" class="btn btn-secondary">SIGN UP</button>

    </div>
</nav-->
<div class="container bodyhold text-center">
    Welcome.
</div>
</body>

</html>
