<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WOOSHYA! FOR COMPANY USER</title>
    <link rel="stylesheet" href="/views/static/cpyLogin.css">
    {{template "bootHeader" . }}
</head>

<body>
<nav class="navbar bg-dark navbar-dark text-white">

    <a class="navbar-brand" href="/cpyIndex">Heyshya!</a>

</nav>

<div class="container text-center text-white">
    <div class="row">
        <div class="container col-sm slogan">
            <h1>Join us, and be more <b>International</b>.</h1>
        </div>
        <div class="container col-sm loginContainer">
            <h3>Heyshya Login</h3>
            <div class="container">
                <form method="POST" action="/cpyLogin">
                    <div class="form-group row justify-content-center">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>

                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-xs-4">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-light" value="Sign In">
                        <a href="cpySignUp" class="btn btn-outline-light">Sign Up</a>
                    </div>
                    <div class="form-group">
                        <a href="cpyForgotPass" class="btn btn-link">Forget Password?</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>

</html>
