<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heyshya!</title>
    <link rel="stylesheet" href="/views/static/cpyProcessingHire.css">
    {{template "bootHeader" . }}
</head>
<body>
{{template "hnavbar" . }}

<div class="container out">
    <div class="container">
        <div class="container tit">
            Processing Hires
        </div>
        {{range .Jobs}}
            <div class="container jholder">
                <a href="{{.JobURL}}" style="color: black">{{.Title}}</a>
            </div>
        {{end}}
    </div>
</div>
</body>
</html>
