<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{template "bootHeader" . }}
    <style>
        .container {
            margin-top: 5%;
        }

    </style>
</head>
<body>
{{template "hnavbar" . }}

<div class="container">
    <div class="container">
        <h2>Processing Hire</h2>
        {{range .Jobs}}
            <div class="container">
                <a href="{{.JobURL}}">{{.Title}}</a>
            </div>
        {{end}}
    </div>
</div>
</body>
</html>
