<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heyshya!</title>
    <link rel="stylesheet" href="/views/static/cpyReleaseNews.css">
    {{template "bootHeader" . }}
</head>
<body>
{{template "hnavbar" . }}

<div class="container text-center">
    <div class="container col-md-5">
        <div class="container tit">
            Post your news!
        </div>
        <form method="POST" action="/cpyIndex/releaseNews">
            <div class="form-group">
                <input type="text" class="form-control" name="news_title" placeholder="Title of the News.">
            </div>
            <div class="form-group">
                <textarea class="form-control rounded-0" name="news_content" rows="3"
                          placeholder="News content..."></textarea>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Submit!">
            </div>
        </form>
    </div>
</div>
</body>
</html>
