<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heyshya!</title>
    <link rel="stylesheet" href="/views/static/cpyViewApplicants.css">
    {{template "bootHeader" . }}

</head>
<body>
{{template "hnavbar" . }}

<div class="container">
    <div class="container tit">
        Applicant List:
    </div>

    {{range .Students}}
        <div class="container aholder">
            <a href="{{.StdURL}}" style="color: black">{{.FirstName}} {{.LastName}}</a>
        </div>
    {{end}}

</div>
</body>
</html>