<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heyshya!</title>
    <link rel="stylesheet" href="/views/static/cpyViewAppProfile.css">
    {{template "bootHeader" . }}
</head>
<body>
{{template "hnavbar" . }}

<div class="container">
    <div class="container tit">
        Applicant's Profile:
    </div>
    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <td><b>Name:</b></td>
                <td>{{.Student.FirstName}} {{.Student.LastName}}</td>
            </tr>
            <tr>
                <td><b>Graduate from:</b></td>
                <td>{{.Student.CollegeName}}, department of {{.Student.Department}}</td>
            </tr>
            <tr>
                <td><b>Major:</b></td>
                <td>{{.Student.Major}}</td>
            </tr>
            <tr>
                <td><b>Degree:</b></td>
                <td>{{.Student.Degree}}</td>
            </tr>
            <tr>
                <td><b>Graduate date:</b></td>
                <td>{{.Student.GraduateDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
