<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/views/static/index.css">
    {{template "bootHeader" . }}
    <!--style>
        .searcharea {
            margin-top: 8%;
        }

        .searchbar {
            margin-top: 2%;
        }
    </style-->
    <script>
        function stdLogin() {
            location.href = "/stdLogin"
        }

        function stdSignUp() {
            location.href = "/stdSignUp"
        }

        function coHomePage() {
            location.href = "/cpyIndex"
        }
    </script>

</head>
<body class="bg">
{{template "navbar" . }}

<div class="container searcharea text-center">
    <div class="container">
        <h1>WooFIND</h1>
    </div>
    <div class="container col-8 searchbar">
        <form method="POST">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Search </label>
                </div>
                <select class="custom-select col-3" id="inputGroupSelect01" name="search_type">
                    <option value="1">BY Company</option>
                    <option value="2">BY JTitle</option>
                    <option value="3">BY Category</option>
                </select>
                <input type="text" class="form-control" placeholder="Keywords" name="keywords">
                <div class="input-group-append">
                    <input type="submit" value="Search!" class="btn btn-outline-secondary">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container hotnews">

</div>

</body>
</html>