<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--link rel="stylesheet" type="text/css" href="cssfiles/trycss.css"-->
    {{template "bootHeader" . }}
    <style>
        .container{
            margin-top: 12%;
        }
        .btnSubmit {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            border: none;
            cursor: pointer;
            font-weight: 600;
            color: #fff;
            background-color: #0062cc;
        }

        .ForgetPwd {
            color: #0062cc;
            font-weight: 600;
            text-decoration: none;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="/">WOOSHYA!</a>
</nav>
<div class="container text-center">
    <div class="container col-md-5">
        <h3>LOGIN</h3>
        <form method="POST" action="/login">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="LOGIN!">
            </div>
            <div class="form-group">
                <a href="#" class="ForgetPwd">Forget Password?</a>
            </div>
        </form>
    </div>

</div>

</body>
</html>