{{define "navbar"}}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Wooshya!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{if .IsOnline}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/stdNewsPage">News <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Processing
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Hire</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Notices</a>
                        </div>
                    </li>

                </ul>
                <div class="nav-item dropdown my-2 my-lg-0">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello! {{.Username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/stdLogOut">Logout</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/stdNewsPage">News <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="nav-item my-2 my-lg-0">
                    <button onclick="stdLogin()" id="loginbtn" class="btn btn-secondary">Login</button>
                    <button onclick="stdSignUp()" id="signupbtn" class="btn btn-secondary">Sign up</button>
                </div>
            </div>
        {{end}}
    </nav>
{{end}}

