<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Sign up</h1>
    <form method="POST" action="/signup">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="text" name="mailaddress">
        <input type="text" name="collegename">
        <input type="text" name="degree">
        <input type="text" name="department">
        <input type="text" name="major">
        <input type="text" name="graduatedate">
        <input type="submit" name="Submit">
    </form>
</body>
</html>