<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WooShya!</title>
    <link rel="stylesheet" href="/views/static/stdForgotPass.css">
    {{template "bootHeader" . }}
</head>
<body>
<nav class="navbar bg-dark navbar-dark text-white">
    <a class="navbar-brand" href="/">Wooshya!</a>
</nav>
<div class="container text-center">
    <div class="container col-md-5">
        <div class="container tit">
            Reset Password
        </div>
        <form method="post" action="/stdForgotPass">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="mailaddress" placeholder="xxx@yy.com">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="newpassword" placeholder="new password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="RESET PASSWORD">
            </div>
        </form>
    </div>
</div>
</body>
</html>