<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/views/static/stdLogin.css">
    {{template "bootHeader" . }}
</head>
<body>
<nav class="navbar navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="/">Wooshya!</a>
</nav>
<div class="container text-center">
    <div class="container col-md-5 outside">
        <div class="container lgi">
            LOGIN
        </div>
        <form method="POST" action="/stdLogin">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="LOGIN!">
            </div>
            <div class="form-group">
                <a href="/stdForgotPass" class="btn btn-link" style="color: white">Forget Password?</a>
            </div>
        </form>
    </div>

</div>

</body>
</html>
