<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wooshya!</title>
    <link rel="stylesheet" href="/views/static/stdNewsPage.css">
    {{template "bootHeader" . }}
</head>
<body>
{{template "navbar" . }}

<div class="container wbg">
    <div class="container tit">
        News
    </div>

    {{range .News}}
        <div class="container nholder">
            <a href="{{.NewsURL}}" style="color: black">{{.NewsTitle}}</a>
        </div>
    {{end}}

</div>
</body>
</html>
