<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{template "bootHeader" . }}
    <style>
        .container {
            margin-top: 5%;
        }

    </style>
</head>
<body>
{{template "navbar" . }}

<div class="container">
    <div class="container">
        <h2>News</h2>
        {{range .News}}
            <div class="container">

                <a href="{{.NewsURL}}">{{.NewsTitle}}</a>
            </div>
        {{end}}
    </div>
</div>
</body>
</html>
