<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/views/static/stdViewNews.css">
    {{template "bootHeader" . }}
</head>
<body>
{{template "navbar" . }}

<div class="container wbg">
    <div class="container tit">
        {{.News.NewsTitle}}
    </div>
    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <td><b>Release date:</b></td>
                <td>{{.News.ReleaseDate}}</td>
            </tr>
            <tr>
                <td><b>From:</b></td>
                <td>{{.News.CpyName}}</td>
            </tr>
            <tr>
                <td><b>Content:</b></td>
                <td>{{.News.NewsContent}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
