<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wooshya!</title>
    <link rel="stylesheet" href="/views/static/stdViewResult.css">
    <link rel="shortcut icon" type="image/png" href="/views/static/rgb.png"/>
    {{template "bootHeader" . }}
</head>
<body>
{{template "navbar" . }}

<div class="container wbg">

    <div class="container tit">
        {{.Job.Title}}
    </div>
    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <td><b>From:</b></td>
                <td>{{.Job.CpyName}}</td>
            </tr>
            <tr>
                <td><b>Job details:</b></td>
                <td>{{.Job.Describe}}</td>
            </tr>
            <tr>
                <td><b>Work place:</b></td>
                <td>{{.Job.Location}}</td>
            </tr>
            <tr>
                <td><b>Salary:</b></td>
                <td>{{.Job.Salary}}</td>
            </tr>
            <tr>
                <td><b>Supplement:</b></td>
                <td>{{.Job.OtherDetails}}</td>
            </tr>
            <tr>
                <td><b>Applcation start date:</b></td>
                <td>{{.Job.StartDate}}</td>
            </tr>
            <tr>
                <td><b>Applcation deadline:</b></td>
                <td>{{.Job.Deadline}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="container applybtn">
        <form method="post">
            {{if .IsOnline}}
                {{if .IsApplied}}
                    <input type="submit" class="btn btn-secondary" disabled="disabled" value="You have applied!">
                {{else}}
                    <input type="submit" class="btn btn-primary" value="Apply!">
                {{end}}
            {{else}}
                <input type="submit" class="btn btn-secondary" disabled="disabled" value="You have to login before apply">
            {{end}}
        </form>
    </div>

</div>
</body>
</html>
