<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{template "bootHeader" . }}
    <style>
        .title {
            margin-top: 5%;
        }

        .applybtn {
            margin-bottom: 5%;
        }

    </style>
</head>
<body>
{{template "navbar" . }}

<div class="container">
    <div class="container title">
        <h3>{{.Job.Title}}</h3>
        <p>release date: {{.Job.ReleaseDate}}</p>
        <p>from: {{.Job.CpyName}}</p>
        <div class="container">
            <p>Job description:</p>
            {{.Job.Describe}}
        </div>
        <p>work place: {{.Job.Location}}</p>
        <p>salary: {{.Job.Salary}}</p>
        <div class="container">
            <p>Other details:</p>
            {{.Job.OtherDetails}}
        </div>
        <p>applcation start date: {{.Job.StartDate}}</p>
        <p>applcation deadline: {{.Job.Deadline}}</p>
    </div>
    <div class="container applybtn">
        <form method="post">
            {{if .IsOnline}}
                {{if .IsApplied}}
                    <input type="submit" class="btn btn-secondary" disabled="disabled" value="You have applied!">
                {{else}}
                    <input type="submit" class="btn btn-primary" value="Apply!">
                {{end}}
            {{else}}
                <input type="submit" class="btn btn-secondary" disabled="disabled" value="Apply!">
            {{end}}
        </form>
    </div>

</div>
</body>
</html>
