<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wooshya!</title>
    <link rel="stylesheet" href="/views/static/stdSearchResultPage.css">
    {{template "bootHeader" . }}
</head>
<body>
{{template "navbar" . }}

<div class="container wbg">
    <div class="container tit">
        Job you have applied
    </div>

    {{range .Jobs}}
        <div class="container rholder">
            <a href="{{.JobURL}}" style="color: black">{{.Title}}</a>
        </div>
    {{end}}

</div>
</body>
</html>
