body {
    /* The image used */
    background-image: url("/views/static/hbg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: 0px -140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-top: 5%;
}

.slogan {
    margin-top: 16%;
}

.loginContainer {
    margin-top: 12%;
}

.btn-link {
    color: white;
}