body {
    /* The image used */
    background-image: url("/views/static/hbg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: 0px -140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    background-color: rgba(50, 50, 50, 0.5);
    flex-shrink: 0;
}

.slogan {
    margin-top: 17.5%;
}

.loginContainer {
    margin-top: 14%;
}

.btn-link {
    color: white;
}

.gowoo {
    margin-top: 5px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 1.1rem;
    color: aliceblue;
}


.licence {
    color: aliceblue;

}