body {
    /* The image used */
    background-image: url("/views/static/rjbg.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-top: 2%;
}

.tit {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 2rem;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

.inputarea {
    margin-bottom: 2%;
    background-color: #fefefe;
}

.ptop{
    padding-top: 3%;
}

.pbot{
    padding-bottom: 3%;
}