body {
    /* The image used */
    background-image: url("/views/static/indexbg.jpg"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-size: cover;
}

.wf {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 4rem;
    color: aliceblue;
}

.searcharea {
    margin-top: 12%;
}

.gohey {
    padding-top: 12%;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 1.1rem;
    color: aliceblue;
}

.searchbar {
    margin-top: 2%;
}