body {
    /* The image used */
    background-image: url("/views/static/indexbg.jpg"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-size: cover;
}


.tit {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 2rem;

    margin-bottom: 2%;
}

.applybtn {
    padding-bottom: 1%;
    padding-bottom: 10%;
}

.wbg{
    padding-top:2%;
    background-color: white;
}